body{
    width: 100%;
    height: 100%;
}
#media {
    width: 720px;
    display: block;
    margin: 50px auto;
    border-radius: 20px;
   

}


nav {
    width: 720px;
    height: 40px;
    margin: -40px auto;
    background: teal;
    opacity: .7;
    transition: .3s;
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav:hover {
    opacity: 1;
}

#bar {
    width: 400px;
    height: 7px;
    border: 1px solid #fff;
    padding: 2px;
    margin: 2px 5px;
    border-radius: 5px;
}

#progress {
    width: 150px;
    height: 7px;
    background: #fff;
    border-radius: 5px ;
}

button {
   
    width: 65px;
    border-radius: 5px;
    border-color: rgb(73, 71, 71);
    color: rgb(12, 12, 12)
    
}

.muteOn {
    background: #fff;
    color: rgb(12, 12, 12)

}

.muteOff {
    background: #f00;
    color: #fff;
}

#media_btn {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    padding-left: 10px;
    background: rgb(94, 184, 198);
    color: #fff;
    opacity: .7;
    font-size:90px ;
    width: 720px;
    max-width: 160px;
    height: 160px;
    z-index: 2;
    border-radius: 100%;
    position: relative;
    left:41%;
    top:-290px;
}


#media_btn:before {
    content: "";
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    top:-20px;
    left:-20px;
    right:-20px;
    bottom:-20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}

#media_btn:after {
    content: "";
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    top:-20px;
    left:-20px;
    right:-20px;
    bottom:-20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
    animation-delay: .4s;
}
@keyframes bloom1 {
    0%
    {
        transform:scale(.5);
    }

    50%
    {
        opacity: 1;
    }

    100%
    {
        transform:scale(1.5);
    }
}

@keyframes bloom2 {
    0%
    {
        transform:scale(.5);
    }

    50%
    {
        opacity: 1;
    }

    100%
    {
        transform:scale(1.5);
    }

}    



